@page
@using Microsoft.AspNetCore.Http;
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.IndexModel
@{
    ViewData["Title"] = Locale.Title_FindDuplicateImages;
}
@section Scripts{
    <script async src="https://platform.twitter.com/widgets.js"></script>
}
@section MetaTags{
    <meta name="twitter:widgets:csp" content="on" />
}
@section TwitterCard{
    <twitter-card-description />
    <twitter-card-image />
}
<section class="hero is-light">
    <div class="hero-body">
        <h1 class="title">
            <ruby>
                <rb>TwiGaTen</rb>
                <rt>ツイ<small>ッター</small>画<small>像</small>転<small>載<del>奴～！</del></small></rt>
            </ruby>
        </h1>
        <p class="subtitle">@(Locale.Banner_FindDuplicateImages)</p>
        <form action="/auth/login" method="post" class="is-flex">
            @Html.AntiForgeryToken()
            <a class="button is-primary twigaten-a-submit">@Locale.Menu_Login »</a>
        </form>
    </div>
</section>
<tweet-intent />
<div>
    <br />
    <p>6/17 各ツイートのページで画像が表示されないのを修正</p>
    <br />
    <p>└(└ ・o・)┘↓こういうのができたようです。ご活用下さい。</p>
    <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ツイートの共有メニューからTwiGaTenに飛ぶためのアプリを作ってみたよ&#13;&#13;&quot;Jump to TwiGaTen - Google Play の Android アプリ&quot; <a href="https://t.co/9ZUZppHQQN">https://t.co/9ZUZppHQQN</a></p>&mdash; 銀卿 (@@Ginkyo0523) <a href="https://twitter.com/Ginkyo0523/status/899956017424777217?ref_src=twsrc%5Etfw">2017年8月22日</a></blockquote>
</div>
<div>
    <h2>#@(Locale.Top_WhatIsThis)</h2>
    <p>
        Twitter上の画像付きツイートを収集し、よく似た画像が含まれるツイートをまとめて表示します。<br />
        ユーザー名やツイートのURLで検索することもできます。<br />
        画像でも一応検索できます。<br />
        Twigaten collects media tweets and displays you groups of tweets having similar image.<br />
        You can search tweets with @@username, URL of tweets, or image itself.
    </p>
    <p><a href="/search/" class="button is-success">@(Locale.Top_SearchWith) »</a></p>
</div>
<div>
    <h2>#@(Locale.Top_SignIn)</h2>
    <p>
        タイムライン上の画像付きツイートから、よく似た画像が存在するものを確認できます。<br />
        また、タイムライン上の画像付きツイートが収集されます。<br />
        収集対象のツイートが増え、検索のヒット率が向上します(たぶん)<br />
        You can see groups of tweets having similar image on your timeline.<br />
        Tweets of your timeline will be collected.<br />
        You can find more and more tweets.
    </p>
    <form action="/auth/login" method="post" class="is-flex">
        @Html.AntiForgeryToken()
        <a class="button is-success twigaten-a-submit">@Locale.Menu_Login»</a>
    </form>
</div>
<div>
    <h2>#@(Locale.Top_Usage)</h2>
    <p>
        画像転載が発見できるかもしれないし、できないかもしれない。<br />
        もしかしたら画像転載の検索がこれ一本、とはまだ行かない。<br />
        あるいは思いもよらない用途があるかもしれない。<br />
        You can find media reprints. ...or you can find idea of any other usage.
    </p>
</div>
<div>
    <h3>┌（┌ ＾o＾）┐</h3>
    <p>
        💨💨💨┌(┌；・o・)┐
    </p>
    <a href="/about" class="button is-success">┌(┌ ーoー)┐ »</a>
</div>

