@page "{TweetId}/{MoreStr?}"
@using Microsoft.AspNetCore.Http.Extensions;
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.Tweet.TweetModel
@section MetaTags{
    @if (Model.CanonicalTweetId.HasValue || Model.More)
    {
        var uri = new UriBuilder(Request.GetEncodedUrl());
        uri.Query = null;
        uri.Fragment = null;
        if (uri.Uri.IsDefaultPort) { uri.Port = -1; }
        if (Model.CanonicalTweetId.HasValue){ uri.Path = "/tweet/" + Model.CanonicalTweetId.Value.ToString(); }
        else { uri.Path = "/tweet/" + Model.TweetId.ToString(); }
        <link rel="canonical" href="@(uri.Uri.AbsoluteUri)" />
    }
}
@section Scripts{
    <partial name="TweetScript" />
}
@section TwitterCard{
    @if (Model.Tweets.Length > 0)
    {
        var tw = Model.Tweets[0].tweet.retweet ?? Model.Tweets[0].tweet;
        <twitter-card-description content="@tw.text.Replace("\n", "")" />
        <twitter-card-image media="Model.Tweets[0].media" />
    }
    else
    {
        <twitter-card-description content="このツイートは収集されていないか、削除されたか、または非公開アカウントのツイートです。" />
    }
}

@if (Model.Tweets.Length > 0)
{
    ViewData["Title"] = string.Format(Locale.Title_OneTweet, Model.Tweets[0].tweet.user.screen_name);
}
else
{
    ViewData["Title"] = string.Format(Locale.Title_NoTweetToShow, Model.TweetId);
}
@{
    ViewData["IsMore"] = Model.More;
}
@if (Model.Tweets.Length > 0)
{

    <h2>@Html.Raw(string.Format(Locale.Headline_OneTweet, "<a href=\"/users/" + Model.Tweets[0].tweet.user.user_id.ToString() + "\" class=\"twigaten-cookie-click\">@" + Model.Tweets[0].tweet.user.screen_name + "</a>"))</h2>
    <p><tweet-permalink screen-name="@Model.Tweets[0].tweet.user.screen_name" tweet-id=@Model.Tweets[0].tweet.tweet_id /></p>
    <p><tweet-intent path="@("/tweet/" + Model.Tweets[0].tweet.tweet_id.ToString())" /></p>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    foreach (var Tweet in Model.Tweets)
    {
        <partial name="OneTweet" model="Tweet" />
    }
}
else
{
    <h2>@Html.Raw(string.Format(Locale.Headline_NoTweetToShow_HTML, Model.TweetId))</h2>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    <partial name="NoTweetToShow" />
}
