@page "{UserId}"
@using Twigaten.Web.Locale;
@using Twigaten.Lib;
@model Twigaten.Web.Pages.Tweet.UsersModel
@section Scripts{
    <partial name="TweetScript" />
    <partial name="DatePickerScript" />
}
@section MetaTags{
    <meta name="robots" content="noindex" />
}
@section TwitterCard{
    <twitter-card-description />
    <twitter-card-image />
}
@{
    if (Model.Tweets.Length > 0)
    {
        ViewData["Title"] = string.Format(Locale.Title_UserTweet, Model.Tweets[0].tweet.user.screen_name);
    }
    else
    {
        ViewData["Title"] = Model.TargetUser == null ? Locale.Title_UserNotFound : Locale.Title_NoTweetToShow;
    }
}
<nav class="tabs is-toggle" style="margin-top:10px;">
    <div class="twigaten-navgroup">
        <ul>
            <li @Html.Raw(Model.IsLatest ? @"class=""is-active""" : "")><a href="/users/@Model.UserId" class="twigaten-cookie-click">@Locale.Pager_Latest</a></li>
            @if (Model.IsLatest || Model.NextNew == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Newer</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?after=@Model.NextNew" class="twigaten-cookie-click">@Locale.Pager_Newer</a></li>
            }
            @if (Model.NextOld == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Older</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?before=@Model.NextOld" class="twigaten-cookie-click">@Locale.Pager_Older</a></li>
            }
        </ul>
    </div>
    <div class="twigaten-navgroup">
        <p>
            <svg class="twigaten-glyph fill-retweet"><use xlink:href="/img/fontawesome.svg#retweet" /></svg>
            RT
        </p>
        <ul>
            <li @Html.Raw(Model.Params.RT ? @"class=""is-active""" : "")><a class="twigaten-cookie-click" data-key="RT" data-value="true">@Locale.Pager_Show</a></li>
            <li @Html.Raw(!Model.Params.RT ? @"class=""is-active""" : "")><a class="twigaten-cookie-click" data-key="RT" data-value="false">@Locale.Pager_Hide</a></li>
        </ul>
    </div>
    <div class="twigaten-navgroup">
        <p>@Locale.SimilarMedia_ShowNoDup</p>
        <ul>
            <li @Html.Raw(Model.Params.Show0 ? @"class=""is-active""" : "")><a class="twigaten-cookie-click" data-key="Show0" data-value="true">@Locale.Pager_Show</a></li>
            <li @Html.Raw(!Model.Params.Show0 ? @"class=""is-active""" : "")><a class="twigaten-cookie-click" data-key="Show0" data-value="false">@Locale.Pager_Hide</a></li>
        </ul>
    </div>
</nav>
<nav>
    <div class="select twigaten-navgroup">
        <p>@Locale.Pager_ResultsPerPage</p>
        <select class="twigaten-cookie-select" data-key="Count">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
    <div class="twigaten-navgroup">
        <p>@Locale.Pager_Datetimepicker</p>
        <form action="/users" method="get" class="twigaten-datepicker-form">
            <input name="date" class="flatpickr input" type="text" placeholder="@Locale.Pager_Datetimepicker" readonly="readonly" />
            <button type="submit" class="button is-small is-primary">Go</button>
        </form>
    </div>
</nav>
@if (Model.Tweets.Length > 0)
{
    <h2>@string.Format(Locale.Headline_UserTweet, Model.Tweets[0].tweet.user.screen_name)</h2>
    @if (!Model.IsLatest)
    {
        <h3 style="margin:0;">
            @if (Model.Before != null)
            {
                @("(~")<span class="twigaten-unixtime" data-unixtime="@(SnowFlake.DatefromSnowFlake(Model.Before.Value).ToUnixTimeSeconds() - 1)"></span>@(")")
            }
            else if (Model.After != null)
            {
                @("(")<span class="twigaten-unixtime" data-unixtime="@(SnowFlake.DatefromSnowFlake(Model.After.Value).ToUnixTimeSeconds() + 1)"></span>@("~)")
            }
        </h3>
    }
    <p><tweet-intent /></p>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    foreach (var Tweet in Model.Tweets)
    {
        <partial name="OneTweet" model="Tweet" />
    }
}
else
{
    <h2>@(Model.TargetUser == null ? Locale.Headline_UserNotFound : Locale.Headline_NoTweetToShow)</h2>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    <partial name="NoTweetToShow" />
}
<nav class="tabs is-toggle">
    <div class="twigaten-navgroup">
        <ul>
            <li @Html.Raw(Model.IsLatest ? @"class=""is-active""" : "")><a href="/users/@Model.UserId" class="twigaten-cookie-click">@Locale.Pager_Latest</a></li>
            @if (Model.IsLatest || Model.NextNew == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Newer</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?after=@Model.NextNew" class="twigaten-cookie-click">@Locale.Pager_Newer</a></li>
            }
            @if (Model.NextOld == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Older</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?before=@Model.NextOld" class="twigaten-cookie-click">@Locale.Pager_Older</a></li>
            }
        </ul>
    </div>
</nav>
