@page "{UserId}"
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.Tweet.UsersModel
@section Scripts{
    <script defer src="/js/twigaten-tweet.js"></script>
}
@section MetaTags{
    <meta name="robots" content="noindex" />
}
@section TwitterCard{
    <twitter-card-description />
    <twitter-card-image />
}
@{
    if (Model.Tweets.Length > 0)
    {
        ViewData["Title"] = string.Format(Locale.Title_UserTweet, Model.Tweets[0].tweet.user.screen_name);
    }
    else
    {
        ViewData["Title"] = Model.TargetUser == null ? Locale.Title_UserNotFound : Locale.Title_NoTweetToShow;
    }
}
<nav class="tabs is-toggle">
    <div class="twigaten-tabgroup">
        <ul>
            <li @Html.Raw(Model.IsLatest ? @"class=""is-active""" : "")><a href="/users/@Model.UserId">@Locale.Pager_Latest</a></li>
            @if (Model.IsLatest || Model.NextNew == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Newer</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?after=@Model.NextNew">@Locale.Pager_Newer</a></li>
            }
            @if (Model.NextOld == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Older</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?before=@Model.NextOld">@Locale.Pager_Older</a></li>
            }
        </ul>
    </div>
    <div class="twigaten-tabgroup">
        <p>
            <svg class="twigaten-glyph fill-retweet"><use xlink:href="/img/fontawesome.svg#retweet" /></svg>
            RT
        </p>
        <ul>
            <li @Html.Raw(Model.Params.RT ? @"class=""is-active""" : "")><a data-name="RT" data-value="true">@Locale.Pager_Show</a></li>
            <li @Html.Raw(!Model.Params.RT ? @"class=""is-active""" : "")><a data-name="RT" data-value="false">@Locale.Pager_Hide</a></li>
        </ul>
    </div>
    <div class="twigaten-tabgroup">
        <p>@Locale.SimilarMedia_ShowNoDup</p>
        <ul>
            <li @Html.Raw(Model.Params.Show0 ? @"class=""is-active""" : "")><a data->@Locale.Pager_Show</a></li>
            <li @Html.Raw(!Model.Params.Show0 ? @"class=""is-active""" : "")><a href="">@Locale.Pager_Hide</a></li>
        </ul>
    </div>
</nav>
@if (Model.Tweets.Length > 0)
{
    <h2>@string.Format(Locale.Headline_UserTweet, Model.Tweets[0].tweet.user.screen_name)</h2>
    <p><tweet-intent /></p>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    foreach (var Tweet in Model.Tweets)
    {
        <partial name="OneTweet" model="Tweet" />
    }
}
else
{
    <h2>@(Model.TargetUser == null ? Locale.Headline_UserNotFound : Locale.Headline_NoTweetToShow)</h2>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    <partial name="NoTweetToShow" />
}
<nav class="tabs is-toggle">
    <div class="twigaten-tabgroup">
        <ul>
            <li @Html.Raw(Model.IsLatest ? @"class=""is-active""" : "")><a href="/users/@Model.UserId">@Locale.Pager_Latest</a></li>
            @if (Model.IsLatest || Model.NextNew == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Newer</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?after=@Model.NextNew">@Locale.Pager_Newer</a></li>
            }
            @if (Model.NextOld == null)
            {
                <li class="is-disabled"><a>@Locale.Pager_Older</a></li>
            }
            else
            {
                <li><a href="/users/@(Model.UserId)?before=@Model.NextOld">@Locale.Pager_Older</a></li>
            }
        </ul>
    </div>
</nav>
