@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SimilarMediaTweet
@addTagHelper *, Twigaten.Web
@using Twigaten.Web
@using Twigaten.Web.Locale;
@using Twigaten.Web.DBHandler;

<div class="card twigaten-tweet-frame">
    @{
        TweetData._tweet tw = Model.tweet.retweet ?? Model.tweet;
        <a class="anchor" id="@(Model.media.media_id)"></a>
        <div class="panel twigaten-tweet twigaten-tweet-main">
            <div class="twigaten-thumbmargin">
                <media-thumb media="Model.media" />
                <media-type-icon media="Model.media" />
            </div>
            <div class="twigaten-usermargin">
                <user-icon user="tw.user" />
                <tweet-permalink-bird tweet="tw" />
                <p>
                    @if (tw.user.isprotected)
                    {
                        <svg class="twigaten-glyph"><use xlink:href="/img/fontawesome.svg#lock" /></svg>
                    }
                    <user-screenname-link user="tw.user" /><br />
                    @tw.user.name<br />
                    <tweet-date-link tweet="tw" />
                </p>
                <p>
                    <retweet-intent tweet="tw" /> @tw.retweet_count
                    <favorite-intent tweet="tw" /> @tw.favorite_count
                    <media-search-google-button media="Model.media" />
                </p>
            </div>
            <p class="twigaten-tweettext">@Html.Raw(tw.text_html)</p>
            @if (Model.tweet.retweet != null)
            {
                <div class="twigaten-usermargin">
                    <user-icon user="Model.tweet.user" style-retweet="true" />
                    <p>
                        <svg class="twigaten-glyph fill-retweet"><use xlink:href="/img/fontawesome.svg#retweet" /></svg>
                        @if (Model.tweet.user.isprotected)
                        {
                            <svg class="twigaten-glyph"><use xlink:href="/img/fontawesome.svg#lock" /></svg>
                        }
                        <user-screenname-link user="Model.tweet.user" /><br />
                        @Model.tweet.user.name<br />
                        <tweet-date-text tweet=Model.tweet />
                    </p>
                </div>
            }
        </div>
        @foreach (var Tweet in Model.Similars)
        {
            <div class="panel twigaten-tweet">
                <div class="twigaten-thumbmargin">
                    <media-thumb media="Tweet.media" />
                    <media-type-icon media="Tweet.media" />
                </div>
                <div class="twigaten-usermargin">
                    <user-icon user="Tweet.tweet.user" />
                    <tweet-permalink-bird tweet="Tweet.tweet" />
                    <p>
                        @if (Tweet.tweet.user.isprotected)
                        {
                            <svg class="twigaten-glyph"><use xlink:href="/img/fontawesome.svg#lock" /></svg>
                        }
                        <user-screenname-link user="Tweet.tweet.user" /><br />
                        @Tweet.tweet.user.name<br />
                        <tweet-date-link tweet="Tweet.tweet" main-tweet="tw" />
                    </p>
                    <p>
                        <retweet-intent tweet="Tweet.tweet" /> @Tweet.tweet.retweet_count
                        <favorite-intent tweet="Tweet.tweet" /> @Tweet.tweet.favorite_count
                        <media-search-google-button media="Tweet.media" />
                    </p>
                </div>
                <p class="twigaten-tweettext">@Html.Raw(Tweet.tweet.text_html)</p>
            </div>
        }
        <nav>
            <div class="twigaten-navgroup twigaten-navgroup-viewmore">
                <p>@string.Format(Locale.SimilarMedia_ResultCount, Model.SimilarMediaCount)</p>
                @if ((ViewData["IsMore"] as bool?) != true)
                {
                    <tweet-more-button tweet="Model.tweet.retweet ?? Model.tweet" media="Model.media" is-more="Model.ExistsMoreMedia" />
                }
                else
                {
                    <span class="no-viewmore"></span>
                }
                <tweet-intent-onetweet tweet="Model.tweet.retweet ?? Model.tweet" media="Model.media" more="@((ViewData["IsMore"] as bool?) == true)" />
            </div>
        </nav>
    }
</div>
